<h2 class="text-center py-5">{{title}}</h2>

<div class="col-6 mx-auto">
    <div class="mb-3">
        <label for="code" class="form-label fw-bold">Mã sách</label>
        <input type="text" class="form-control" ng-model="pro.code" id="code" disabled>
    </div>
    <div class="mb-3">
        <label for="name" class="form-label fw-bold">Tên sách</label>
        <input type="text" class="form-control" ng-model="pro.name" id="name" disabled>
    </div>
    <div class="mb-3">
        <label for="category" class="form-label fw-bold">Loại sách</label>
        <input type="text" class="form-control" ng-model="pro.category" id="category" disabled>
    </div>
    <div class="mb-3">
        <label for="price" class="form-label fw-bold">Giá bán</label>
        <input type="number" class="form-control" ng-model="pro.price" id="price" disabled>
    </div>
    <div class="mb-3">
        <label for="quantity" class="form-label fw-bold">Số lượng</label>
        <input type="number" class="form-control" ng-model="pro.quantity" id="quantity" disabled>
    </div>
    <div class="text-end">
        <a href="#!/list-product" class="px-4 btn btn-success">Danh sách</a>
    </div>
</div>